<div class="card border-primary mb-3" style="max-width: 20rem; display: inline-block;">
  <div class="card-body">
    <h4 class="card-title">Generate Report</h4>
    <p class="card-text">Generates release report for use in a journal entry</p>
    <form action="/generate/new" method="POST">
      <div class="form-group">
        <select class="custom-select">
          <option value="givens">Givens Report</option>
          <option value="ups">UPS Report</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg" role="button">Generate Report</a>
      </div>
    </form>
  </div>
</div>
