<div class="card border-primary mb-3" style="max-width: 20rem; display: inline-block;">
  <div class="card-body">
    <h4 class="card-title">Load Data</h4>
    <p class="card-text">Loads flat files into the application database</p>
    <form action="/load/new" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <select class="custom-select" name="file_type">
        {% for display, class in choices.items() %}
            <option value="{{class}}">{{display}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input type="file" class="form-control-file" name="input_files" multiple>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg" role="button">Load Data</submit>
      </div>
    </form>
  </div>
</div>
